* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.nav__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  flex-direction: row;
}
.nav__right ul {
  list-style-type: none;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 2em;
}
.nav__right ul li {
  padding: 1em;
}
.nav__right ul li:hover {
  background-color: #03a9f5;
}
.nav__right ul li:hover a {
  color: #fff;
}
.nav__right ul li a {
  text-decoration: none;
  color: black;
}

.hero {
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  border-radius: 50px;
  height: 50vh;
}
.hero__content {
  width: 40%;
  color: #fff;
}
.hero__content--right {
  line-height: 1.5em;
}
.hero__content--right h1 {
  margin: 1.5em 0;
  color: hsl(143, 100%, 66%);
}

.maincontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  font-size: 2em;
  padding: 2em 6em;
}

.maincontent__left {
  justify-content: center;
  padding: 2em 4em;
}

.maincontent__right h2 {
  padding-bottom: 0.5em;
}

.health {
  color: rgb(88, 162, 211);
}

.btn button {
  background-color: rgb(88, 162, 211);
  color: white;
  border: none;
  border-radius: 1em;
  padding: 1em;
  font-size: 0.5em;
  margin-top: 2em;
}

.cotact__us__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  padding: 2em 4em;
  font-size: 2em;
}

.content__images {
  justify-content: center;
  padding: 2em 4em;
  border-radius: 20px;
}

.inputscards {
  text-align: center;
  background-color: #03a9f5;
  color: rgb(88, 162, 211);
  height: 40vh;
  width: 100%;
  text-align: center;
  border: 1px solid gray;
}

.main__content h3 {
  color: black;
  text-align: center;
  font-size: 4rem;
  margin: 0.5em 1em;
}

.main__content button {
  margin-bottom: 0;
}

.btn {
  background-color: rgb(88, 162, 211);
  color: white;
  padding: 0.3em 6rem;
  border: none;
  border-radius: 2em;
  margin: 1em;
  font-size: 2.5em;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 100%;
}

.inputscards {
  text-align: center;
}

.inputscards input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 4rem;
  margin: 2rem 6rem;
  text-align: center;
  padding: 1rem 3em;
  font-size: 1.4rem;
}

.main__content {
  text-align: center;
}

.cardsimages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 1em;
  gap: 2em;
}

.image img {
  margin-bottom: 2rem;
}

.cards h2 {
  font-size: 4em;
}

.guider {
  margin: 3em 0;
}
.guider__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 3em;
}
.guider__content div {
  flex: 1;
}
.guider__cards {
  box-shadow: 0 0 5px lightgray;
}
.guider__cards div {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 1em;
}
.guider__cards div p {
  line-height: 1.5em;
}
.guider__cards div p a {
  color: hsl(143, 100%, 66%);
}
.guider__cards h4 {
  background-color: #03a9f5;
  text-align: center;
  padding: 2em 0;
  font-size: 1.5rem;
}