@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.footer {
  background-color: $lightgray;
  margin-top: 5em;
  padding: 2em 0;
  &__content {
    @include flex(space-between, flex-start,row,wrap);
  }
  p{
    font-size: 1.2rem;
  }
  h5 {
    font-size: 2rem;
    margin-bottom: 1em;
  }
  &__menu {
    flex: 1;
    text-align: center;
    
    &--icons {
      @include flex(center, center,row,wrap);
      gap: 2em;
    }
    ul {
      list-style-type: none;
      color: $white;
      @include flex(flex-start, center, column);
      gap: 1.2em;
      li {
        font-size: 1.2rem;

        &:hover {
          a {
            color: $blue;
          }
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
@media screen and (max-width: 886px) {
}
