@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
.nav {
  &__section {
    @include flex(space-between, center);
    flex-direction: row;
  }
  &__right {
    ul {
      list-style-type: none;
      color: #fff;
      @include flex(flex-start, center);
      gap: 2em;
      li {
        padding: 1em;
        &:hover {
          background-color: $blue;
          a {
            color: $white;
          }
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.hero {
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include flex(flex-start, center);
  // background-color: crimson;
  border-radius: 50px;
  height: 50vh;
  &__content {
    width: 40%;
    color: $white;
    &--right {
      line-height: 1.5em;
      h1 {
        margin: 1.5em 0;
        color:$green;
      }
    }
  
  }
 }
