@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
.guider{
  margin: 3em 0;
&__content {
  @include flex(space-between, center);
  gap: 3em;
  div{
    flex: 1;
  }
}
&__cards{
  box-shadow: 0 0 5px lightgray;
  div{
    padding: 1em;
    // background-color: darkgreen;
    @include flex(center, flex-end, column);
    gap:1em;
    p{
      line-height: 1.5em;
      a{
        color:$green;
      }
    }
  }
  // padding: 1em;
h4{
  background-color: $blue;
  text-align: center;
  padding: 2em 0;
  font-size: 1.5rem;
}
}
}
