@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
.guider {
  margin: 5em 0;
  h4{
    color:$white;
  }
  h2{
    text-align: center;
    color: $blue;
    font-size: 2.5rem;
    margin-bottom: 1.5em;
  }
  &__content {
    @include flex(space-between, center,row,wrap);
    gap: 3em;
    div {
      flex: 1;
    }
  }
  &__cards {
    box-shadow: 0 0 5px lightgray;
    div {
      padding: 1em;
      @include flex(center, flex-end, column);
      gap: 1em;
   
      p {
        line-height: 1.5em;
        font-size: 1.2rem;
        a {
          color: $blue;
          text-decoration: none;
        }
      }
    }
   
    h4 {
      background-color: $blue;
      text-align: center;
      padding: 2em 0;
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 886px) {
  
}
@media screen and (max-width: 570px) {
  .guider{
    &__content{
      &__cards{
        flex-wrap: wrap;
      }
    }
  }

}

