@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.maincontent__container {
  @include flex(space-between,flex-start);
  gap: 2em;
  margin-top: 15vh;
}

.maincontent__right, .maincontent__left{
flex:1;
}
.maincontent__right{
  h2{
    font-size: 4rem;
  }
  p{
    font-size: 2rem;
    line-height: 1.5;
    margin: 1em 0;
  }
}
.health{
  color:$blue;
}
.btn button{
  background-color:$blue;
  color:white;
font-size: 0.5em;
border: none;
}