@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
.cotact__us__container{
  @include flex(space-between, center);
  align-items: center;
  padding: 2em 4em;
  font-size: 2em;
}
.content__images {
  justify-content: center;
  padding: 2em 4em;
  border-radius: 20px;
}
.inputscards{
  text-align:center;
  background-color:#03a9f5;
  color:rgb(88, 162, 211);
  height: 40vh;
  width: 100%;
  text-align: center;
  border:1px solid gray;
}
.main__content{
margin: 0.5em solid gray;
}
.main__content h3{
  color: black;
  text-align: center;
  font-size: 4rem;
  margin: 0.5em 1em;
}
.main__content button{
  margin-bottom:0;
}
.btn{
  background-color:rgb(88, 162, 211);
  color:white;
  padding: 0.3em 6rem;
  border: none;
  border-radius:2em;
 margin: 1em;
  font-size:2.5em;
}
.cards{
  @include flex(space-evenly,center);
  width:100%;
}
.inputscards{
  text-align:center;
}
.inputscards input{
  @include flex(space-between,center,column);
  gap: 4rem;
  margin: 2rem 6rem;
  text-align:center;
  padding: 1rem 3em;
  font-size: 1.4rem;
}
.main__content{
  text-align: center;
}
.cardsimages{
  @include flex(space-around,center);
  margin-top: 1em;
  gap:2em;
}
 .image img{
margin-bottom:2rem;
}
.cards h2{
  font-size:4em;
}







